/*  your css code here. If applicable */
html{
	background-color:skyblue;
}
.first-child{
	background-color:black;
	color:white;
}
.root{
	color:red;
}
#first-item{
	background-color:white;
	padding:3px;
	width:50%;
}
#second-item{
	background-color:rgb(112,127,144);
	padding:3px;
	width:50%;
}
#third-item{
	background-color:pink;
	padding:3px;
	width:50%;
}
#fourth-item{
	background-color:rgb(112,127,144);
	padding:3px;
	width:50%;
}
#fifth-item{
	background-color:white;
	padding:3px;
	width:50%;
}
		   
